
<html>
    <head>
        <title>lisayssivu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <form name="regForm" class="form-group">
            <div ng-controller="AddController">
                <h1>Lisää uusi elokuva</h1>
                <div id="add-movie-container">
                    <p>
                        <label>Nimi</label><br>
                        <input type="text" ng-model="nimi" name="nimi" ng-trim="false" class="form-control">
                    </p>

                    <p>
                        <label>Ohjaaja</label><br>
                        <input type="text" ng-model="ohjaaja" name="ohjaaja" class="form-control">
                    </p>

                    <p>
                        <label>Julkaisuvuosi</label><br>
                        <input type="text" ng-model="vuosi" name="vuosi" class="form-control" required ng-pattern="/^(19|20)\d{2}$/">
                    </p>
                    <div ng-show="regForm.vuosi.$invalid && regForm.vuosi.$dirty">Vuosi ei kelpaa!</div>

                    <p>
                        <label>Kuvaus</label><br>
                        <textarea ng-model="kuvaus" name="kuvaus" class="form-control"></textarea>
                    </p>

                    <button ng-click="addMovie()" type="submit" ng-disabled="regForm.$invalid" class="btn btn-primary">Lisää</button>
                    <button ng-click="cancel()">Takaisin</button>

                </div>
                <br></br>
                
                <h2>Elokuvat</h2>
                <table class="table" >
                    <tr>
                        <th>Nimi</th>
                        <th>Ohjaaja</th>
                        <th>Julkaisuvuosi</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="movie in movies">
                        <th><a ng-href="#/movies/{{movie.$id}}"><strong>{{movie.nimi}}</strong></a></th>
                        <th>{{movie.ohjaaja}}</th>
                        <th>{{movie.vuosi}}</th>
                        <th><button ng-click="remove(movie)" class="btn btn-danger">Poista</button></th>
                    </tr>
                </table>
            </div>
        </form>    
    </body>
</html>
