<div id="list-movie-container">

    <h2>Hae elokuvia</h2>
    <p>
        <label>Nimi</label><br>
        <input type="text" ng-model="etsiNimi">
    </p>

    <br>
    <p>
        <label>Julkaisuvuosi</label><br>
        <input type="text" ng-model="etsiVuosi">
    </p>

    <button ng-click="find()" class="btn btn-primary">Hae</button>
    <br></br>
    
    <h4>
        <span ng-pluralize count="found" when="{ '0': 'Hakusanalla ei löytynyt elokuvia', 'one': 'Haulla löytyi 1 elokuva', 'other': 'Haulla löytyi {{found}} elokuvaa' }"></span>.
    </h4>
    <table class="table">
        <tr>
            <th>Nimi</th>
            <th>Julkaisuvuosi</th>
        </tr>
        <tr ng-repeat="movie in imdb">
            <th><a ng-href="http://www.imdb.com/title/{{movie.imdbID}}"><strong>{{movie.Title}}</strong></a></th>
            <th><strong>{{movie.Year}}</strong></th>
        </tr>
    </table>

    
    <h2>Elokuvat</h2>
    <table class="table" >
        <tr>
            <th>Nimi</th>
            <th>Ohjaaja</th>
            <th>Julkaisuvuosi</th>
            <th></th>
        </tr>
        <tr ng-repeat="movie in movies">
            <th><a ng-href="#/movies/{{movie.$id}}"><strong>{{movie.nimi}}</strong></a></th>
            <th>{{movie.ohjaaja}}</th>
            <th>{{movie.vuosi}}</th>
            <th><button ng-click="remove(movie)" class="btn btn-danger">Poista</button></th>
        </tr>
    </table>

    <button ng-click="newMovie()"class="btn btn-primary">Lisää</button>
    <div>{{message}}</div>




</div>

