
<html>
    <head>
        <title>Kirjaudu sisään</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Kirjaudu sisään</h1>
        <p>
            <label>Sähköpostiosoite</label><br>
            <input type="text" ng-model="email">
        </p>
        <p>
        <label>Salasana</label><br>
            <input type="text" ng-model="password">
        </p>
        <button ng-click="logIn()" class="btn btn-primary">Kirjaudu</button>
        
        <h1>Rekisteröidy</h1>
        <p>
            <label>Sähköpostiosoite</label><br>
            <input type="text" ng-model="newEmail">
        </p>

        <p>
            <label>Salasana</label><br>
            <input type="text" ng-model="newPassword">
        </p>
        <button ng-click="register()" class="btn btn-primary">Rekisteröidy</button>

        <div> {{message}} </div>
    </body>
</html>
