<h2> Kurssin {{course.nimi}} tulosten kirjaaminen</h2>

<table class="table">
    <tbody id="list">

        <tr>
            <td><label>Opiskelija</label></td>
            <td ng-repeat="task in course.tehtavat" class="task">{{task.nimi}}</td>
        <tr>

        <tr class="item inactive">
            <td><input name="multifield" class="stud"/></td>
            <td ng-repeat="task in course.tehtavat"><input type="text" name="multifield" class="numb" size="1"/>/<span class="maxp">{{task.maxp}}</span></td>
        </tr>
    </tbody>
</table>

<br></br>
<h2> Kurssin {{course.nimi}} tämänhetkinen tulostaulukko</h2>
<table class="table">
    <tbody>
        <tr>
            <td><label>Opiskelija</label></td>
            <td ng-repeat="task in course.tehtavat"><label>{{task.nimi}}</label></td>
        <tr>
        <tr ng-repeat="student in course.students">
            <td>{{student.nimi}}</td>
            <td ng-repeat="task in student.tehtavat">{{task.gotp}}/{{task.maxp}}</td>
        </tr>
    </tbody>
</table>


<br></br>
<button ng-click="tulosta()" class="btn btn-primary">Tulosta</button>
<button ng-click="return()" class="btn btn-default">Takaisin</button>

